*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color:#fff;
    font-family: "Oswald", sans-serif;
}
.p-section{
    padding-block: 100px;
}

.box-section{
    padding-block: 70px;
}
.container{
    padding: 1.5em;
}


/***********/
/*start header*/
:root{
    --lg-text-color-:rgb(0, 0, 0);
    --p-color-:rgb(99, 99, 99);
    --icon-color-:rgb(193, 154, 131);
    --lg-radius-:50%;
    --md-radius-:1.7em;
}

main{
    background-image: url(./public/images/imgi_96_hero-01.jpg);
    width: 100%;
    height: 110vh;
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment:fixed; 
}

.nav-bar{
padding: 1.5em;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.first-nav-list , .second-nv-list{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    position: relative;
}
.first-nav-list ul , .second-nv-list ul{
    display: flex ;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.first-nav-list li a:hover {
    color: var(--icon-color-);
    font-size: 1em;
}
.second-nv-list li a:hover {
    color: var(--icon-color-);
    font-size: .8em;
}
.first-nav-list li a {
    color: var(--lg-text-color-);
    font-size: .9em;
    transition: .3s;
}
.second-nv-list li a{
color: var(--lg-text-color-);
font-size: .7em;
transition: .3s;
}
.second-nv-list svg{
    color: var(--icon-color-);
}
.toggle-menu {
    display: none; 
    cursor: pointer;
    color: var(--icon-color-);
}
.second-nv-list::after{
    content: "0";
    top: -15px;
    font-size: 10px;
    right: -7px;
    border-radius: var(--lg-radius-);
    background-color: var(--icon-color-);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
}
.hero-content{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh; 
    gap: 20px;
}
.hero-content h5{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 400;
}
.hero-content h1{
    font-size: 4.2em;
    text-transform: uppercase;
    font-weight: bold;
}
.hero-content h3{
font-size: 1.5em;
    text-transform: uppercase;
    background-color: var(--icon-color-);
    width: fit-content;
    font-weight: 400;
}
.hero-content .hero-content-btn button{
border: none;
background-color: black;
color: white;
padding-block: .6em;
padding-inline: 1.4em;
font-size: 1em;
}
/*end header*/
/*start fixed -btn*/

.fixed-btns{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.first-one {
background-color: rgb(29, 79, 216);
width: fit-content;
display: flex;
justify-content: center;
align-items: center;
padding-inline: .4em;
position: fixed;
top: 40%;
right: 0;
border-radius: 3px;
z-index: 1;
}
.first-one button{
    border: none;
    background-color: rgb(29, 79, 216);
    color: white;
    font-size: .9em;
    padding-inline: .8em;
    padding-block: 1em;
}
.first-one svg  ,.second-one svg{
    color: white;
}
.second-one{
background-color: rgb(255, 255, 255);
width: fit-content;
display: flex;
justify-content: center;
align-items: center;
padding-inline: .4em;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
position: fixed;
z-index: 1;
top: 49%;
right: 0;
}
.second-one button{
    border: none;
    background-color:white;
    color:black;
    font-size: 1em;
    padding-inline: .7em;
    padding-block: 1em;
}
.second-one svg{
    color: black;
}
/*end fixed-btn*/

/*start sponserd*/
.brands{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
}

.brand-logo-image{
    width: 200px;
    overflow: hidden;
    border: 1px solid rgb(237, 237, 237);
}
.brand-logo-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*end sponserd*/

/*start products*/
.product-box{
    display: grid;
    gap: 25px; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.TEXT-PRODUCT , .furniture-text ,.featuers-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.TEXT-PRODUCT h6 , .furniture-text h6 , .featuers-text h6{
    font-size: .8em;
    color: var(--p-color-);
    font-weight: 400;
    letter-spacing: .3em;
    text-transform: uppercase;
}
.TEXT-PRODUCT h2 , .furniture-text h2 , .featuers-text h2{
    font-size: 2.6em;
    color: var(--lg-text-color-);
    text-transform: uppercase;
    position: relative;
}
.TEXT-PRODUCT h2::after{
content: "";
position: absolute;
width: 20%;
height: 1px;
background-color: var(--icon-color-);
bottom: -30px;
right: 40%;
}
.product-card-image{
width: auto;
height: auto;
overflow: hidden;
}
.product-card-image img{
width: 100%;
height: 100%;
object-fit: contain;
}
.product-card-content h4{
    font-size: .9em;
    font-weight: 600;
    color: var(--lg-text-color-);
}

.product-card-content p{
    font-size: .6em;
    font-weight: 500;
    color: var(--p-color-);
}

.product-card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.61);
    padding-inline: 80px;
    padding-block: 4px;
    position: absolute;
    bottom: 25px;  
    left: 15px; 
    right: 15px;
    max-width: 80%;
}
.product-card{
    position: relative;
}

/*end products*/
/*start furniture */
.furniture-text h2::after{
content: "";
position: absolute;
width: 20%;
height: 1px;
background-color: var(--icon-color-);
bottom: -30px;
right: 40%;
}
.furniture-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap:20px;
}
.furniture-card{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgb(241, 243, 242);
position: relative;
}
.furniture-card::after{
content: "Sale!";
position: absolute;
width: 40px;
height: 30px;
background-color: white;
color: gray;
left: 15px;
top: 15px;
border-radius: var(--md-radius-);
display: flex;
align-items: center;
justify-content: center;
padding:2px;
font-size: .8em;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}
.furniture-card-image{
    max-width: 400px;
    height: 488px;
}
.furniture-card-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.furniture-card-content{
    padding: 10px;
    display: flex;
    align-items: center; 
    text-align: center;
    flex-direction: column;
    gap: 10px;
}

.furniture-card-content h3 {
    font-weight: 400;
    font-size: 1.4em;
}
.furniture-card-content p {
    font-weight: 400;
    font-size: .9em;
    color: var(--p-color-);
    font-weight: 600;
}
.furniture-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.furniture-icons .icon{
    border-radius: var(--lg-radius-);
    border: 3px white solid;
    width: 25px;
    height: 25px;
    transition: .4s;
    outline: 1px solid transparent;
}
.furniture-icons .icon:hover{
    outline: 1px solid rgb(185, 184, 184);
}
.furniture-icons :nth-of-type(1){
background-color:rgb(218, 188, 162);
}
.furniture-icons :nth-of-type(2){
background-color:rgb(143, 100, 83);
}
.furniture-icons :nth-of-type(3){
background-color:rgb(0, 0, 0);
}
.badges{
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    right: 15px;
    top: 15px;
}
.badges .first-icon , .second-icon{
background-color: white;
border-radius: var(--lg-radius-);
padding-inline: 7px;
padding-block: 5px;
}
/*end furniture*/

/*start advertising*/

.arrival .parent {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    height: 550px;
}

.arrival-image {
    position: relative;
}
.arrival-image::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #22212141;
    z-index:1;
}

.arrival-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrival-image .text {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.arrival-image h2 {
    font-size: 2.8rem;
    margin: 15px 0;
    max-width: 400px;
    text-align: center;
}


.arrival-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #eee;
}

.arrival-details img {
    width: 80%;
    margin-bottom: 20px;
}

.arrival-details h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 400;
}

.arrival-details p {
    color: #888;
    margin-bottom: 20px;
}

.arrival-details button {
    padding: 15px 25px;
    background-color: #000;
    color: #fff;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;
}
.arrival-details button:hover{
    background-color: var(--icon-color-);
}

/*end advertising*/

/*start review*/
.reviews .container{
    display:grid ;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.review-card{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 242, 242);
    padding: 90px;
}
.review-rate svg{
    color: rgb(240, 173, 78);
}
.review-text{
    display: flex ;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.review-text h3 {
    color: var(--lg-text-color-);
    font-size: 1.3em;
    font-weight: 400;
    
}
.review-text h5 {
    color: var(--p-color-);
    font: size 1.2em; 
    font-weight: 400;
    letter-spacing: .1em;
}
/*end review*/
/*start privilages*/

.featuers-text h2::after{
content: "";
position: absolute;
width: 20%;
height: 1px;
background-color: var(--icon-color-);
bottom: -30px;
right: 40%;
}
.featuers-box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.featuer-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}
.featuere-icon svg{
    color: var(--icon-color-);
}
.featuer-content h3 {
    color: var(--lg-text-color-);
    font-size: 1.4em;
    font-weight: 400;
    text-transform: uppercase;
}
.featuer-content p {
    color: var(--p-color-);
    font-size: .9em;
    font-weight: 400;
}
/*end privilages*/
/*start footer*/
footer{
    border: 1px solid rgb(211, 208, 208);
}
.footer-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 80px 30px;
    background-color: rgb(241, 242, 242);
    position: relative;
}
.website-links ,.website-category , .website-subsribation ,.website-contact{
display: flex;
flex-direction: column;
gap: 20px;
}
.website-links h3 ,.website-category h3 , .website-subsribation h3{
    font-size: 1.4em;
    font-weight: 400;
}
.website-links li,.website-category li , .website-subsribation li{
color: var(--icon-color-);
}
.website-subsribation input{
    border: 1px solid rgb(155, 154, 154);
    border-radius: 5px;
    padding: 8px;
    padding-right: 150px;
    font-size: 1em;
    background-color: rgb(236, 237, 237);
}
.website-contact{
    gap: 35px;
}
.website-btn button{
background-color: black;
color: white;
border-radius: 7px;
padding: 10px 13px;
font-size: 1em;
border: none;
text-transform: uppercase;
}
.footer-box::after{
content: "";
width: 100%;
height: 1px;
background-color: rgb(223, 220, 220);
position: absolute;
right: 0;
bottom: 15px;
}
.website-extradetails{
    display: flex;
    justify-content: space-between;
    padding-block: 50px;
    flex-direction: row;
    background-color: rgb(241, 242, 242);
}
.website-social{
    display: flex;
    gap: 20px;
}
.website-copyright h4{
    color: var(--p-color-);
    font-size: .9em;
    font-weight: 400;
}

/*end footer*/

body::selection{
    background-color: var(--icon-color-);
}











@media screen and (max-width:920px) {
    html{
        font-size: 95%;
    }
.toggle-menu {
    display: block;
} 
.first-nav-list , .second-nv-list{
    display: none;
}
.main{
    height: 60vh;
}
.review-card{
    padding: 40px;
}
.footer-box{
    grid-template-columns: repeat(2, 1fr);
}
.hero-content h1{
    font-size: 2em;
}
.hero-content h3{
    font-size: 1.4em;
}

}

@media screen  and (max-width:1024px){
    .brands{
        grid-template-columns: repeat(3,1fr);
    }
    .brand-logo-image:nth-child(n+4) {
        display: none;
    }
    .hero-content h1{
    font-size: 1.7em;
}
.hero-content h3{
    font-size: 1.7em;
}

}
@media screen  and (max-width:768px){
    html{
        font-size: 90%;
    }
    .brands{
        grid-template-columns: repeat(2,1fr);
    }
    .brand-logo-image:nth-child(n+3) {
        display: none;
    }
    .furniture-box {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .review-card{
    padding: 20px;
}
.reviews .container{
    grid-template-columns: 1fr;
}
.featuers-box{
    grid-template-columns: 1fr;
}
.arrival .parent {
        grid-template-columns: 1fr;
        height: auto;
    }
}
@media screen and (max-width:545px) {
    html{
        font-size: 80%;
    }
    .footer-box{
    grid-template-columns: 1fr;
    
}

}